* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: rgb(255, 255, 255); */
  /* background-color: #001f85; */
}

#section-welcome {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 12px;
  background-color: #afafaf;
}

#section-total-score {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 120px;
  border: 1px solid black;
  font-size: 52px;
  margin-bottom: 12px;
  font-weight: bolder;
}

#section-result {
  display: flex;
  background-color: #00fde8;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 70px;
  font-weight: bolder;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#section-playground {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
}

.option-div {
  display: flex;
  border: 2px, solid, black;
  justify-content: center;
  gap: 60px;
  margin-bottom: 12px;
}

.option-div img {
  width: 200px;
  border-radius: 100px;
}

.option-div button {
  display: flex;
  border: 2px solid black;
  background: transparent;
  border-radius: 100px;
}

.start-button-div img {
  width: 200px;
}

.start-button-div button {
  border: 0px;
}

button:hover {
  cursor: pointer;
}
.player-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.player-human,
.player-cpu,
.tie-counter,
.tie-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 2px solid black;
  text-align: center;
  /* width: 400px; */
}

.human-name,
.cpu-name,
.tie-heading {
  display: flex;
  justify-content: center;
  font-size: 36px;
  /* width: 400px; */
}

.human-score,
.cpu-score,
.tie-counter{
  display: flex;
  justify-content: center;
  font-size: 60px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  /* width: 400px; */

}
