* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background-color: #000000;
}

#section-welcome {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 12px;
}

#section-total-score {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 80px;
  font-size: 40px;
  margin-bottom: 12px;
  font-weight: bolder;
}

#section-result {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 52px;
  font-weight: bolder;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#section-playground {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.option-div-off,
.option-div-on {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 20px;
  margin-bottom: 12px;
}

.option-div-off img,
.option-div-on img {
  width: 160px;
  border-radius: 80px;
}

.option-div-off button,
.option-div-on button {
  display: flex;
  border: 4px solid rgb(255, 1, 1);
  background: transparent;
  border-radius: 100px;
}

.start-button-div-on button {
  display: flex;
  font-size: 40px;
  padding: 12px;
  font-weight: bold;
  background-color:rgb(16, 187, 0);
  border-radius: 12px;
  text-wrap: nowrap;
  
}

button:hover {
  cursor: pointer;
}
.player-div {
  display: flex;
  justify-content:center;
  align-items: center;
  align-content: center;
  gap: 60px;
  margin-bottom: 16px;
}

.player-human,
.player-cpu,
.tie-counter,
.tie-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  /* width: 400px; */
}

.human-name,
.cpu-name,
.tie-heading {
  display: flex;
  justify-content: center;
  font-size: 36px;
  /* width: 400px; */
}

.human-score,
.cpu-score,
.tie-counter{
  display: flex;
  justify-content: center;
  font-size: 60px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  /* width: 400px; */
}
