* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}

#section-welcome {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 12px;
  background-color: #afafaf;
}

#section-total-score {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 120px;
  border: 1px solid black;
  font-size: 32px;
  margin-bottom: 12px;
}

#section-result {
  display: flex;
  border: 1px solid black;
  background-color: #24df33;
  font-size: 32px;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 12px;
  margin-bottom: 12px;
}

#section-playground {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
}

.option-div {
  display: flex;
  border: 2px, solid, black;
  justify-content: center;
  gap: 60px;
}

.button-option button {
  border: 2px solid black;
  border-radius: 100px;
}

.option-div img {
  width: 200px;
  border-radius: 100px;
}

.button-start img {
  width: 200px;
}

.button-start button {
  border-radius: 10px;
  border: 0px;
  background: transparent;
}
.player-div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
}

.player-human,
.player-cpu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 2px solid black;
  text-align: center;
}

.human-name,
.cpu-name {
  display: flex;
  font-size: 30px;
}

.human-score,
.cpu-score {
  display: flex;
  font-size: 60px;
}
